.perguntas {
    background-color: #000;
    height: 100vh;
}

.perguntas-container {
    max-width: 1320px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.perguntas-container h2 {
    font-size: 70px;
    font-weight: 800;
    color: #23ecce;
    text-align: center;
    margin: 40px 0;
}

.perguntas-item {
    border: 5px solid;
    border-image: linear-gradient(45deg, #4d6ef1, #71ddee, #23ecce) 1;
    padding: 10px 20px;
    margin: 10px 10px;
    position: relative;
    width: 50%;
}

.perguntas-box {
    display: flex;
    justify-content: space-between;
}

.perguntas-checkbox {
    display: none; /* Oculta o checkbox */
}

.perguntas-question {
    display: block;
    cursor: pointer;
    font-size: 18px;
    color: #71ddee;
    font-weight: 800;
    padding: 10px 0;
    position: relative;
}

.perguntas-question::after {
    content: "+";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: #71ddee;
    transition: transform 0.3s ease;
}

.perguntas-checkbox:checked ~ .perguntas-question::after {
    content: "-"; /* Troca o "+" por "-" */
}

.perguntas-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    font-size: 14px;
    color: #999;
    line-height: 1.6;
}

.perguntas-checkbox:checked ~ .perguntas-answer {
    max-height: 400px; /* Define um valor suficiente para exibir o conteúdo */
    padding-top: 10px;
}