* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

/* HEADER */

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: #000;
    border-bottom: 1px solid #4d6ef1; 
    animation: borderAnimation 2s infinite; 
}

@keyframes borderAnimation {
    0% {
        border-bottom: 1px solid #4d6ef1;

    }
    50% {
        border-bottom: 1px solid #71ddee;
    }
    100% {
        border-bottom: 1px solid #23ecce;
    }
}

.header-int {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    max-width: 1320px;
}

/* LOGO */

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 110px;
}

.logo-title {
    margin-left: 20px;
}

.logo-title h3 {
    color: #fff;
}

/* NAVIGATION */

.nav {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    margin: 0 10px;
    color: #fff;
}

.nav-item button {
    display: flex; 
    padding: 10px 30px; 
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    background: linear-gradient(45deg, #4d6ef1, #71ddee, #23ecce);
    background-size: 200%; 
    background-position: left; 
    transition: background-position 0.5s ease; 
    cursor: pointer;
    margin-left: 20px;
}

.nav-item button:hover {
    background-position: right;
}

.nav-item button {
    background-color: red;
}

/* BANNER MAIN */

.banner-main {
    background-image: url('../img/banner-principal.png');
    height: calc(100vh - 80px);
    background-position: bottom;
    background-size: cover;
}

.banner-main-box {
    display: flex;
    justify-content: center;
    width: 100%;

    height: calc(100vh - 80px);
}

.banner-main-box-int {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 80px);
    width: 100%;
    max-width: 1320px;
}

.banner-main-box-title {
    font-size: 50px;
    color: #fff;
    font-weight: 800;
}

.gradient-text {
    background: linear-gradient(45deg, #4d6ef1, #71ddee, #23ecce);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
    display: inline-block; 
}

.banner-main-box-image {
    margin: 20px 0;
}

.banner-main-box-desc {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
}

.banner-main-button button {
    display: flex; 
    align-items: center;
    padding: 16px 40px; 
    font-size: 16px;
    font-weight: 600;
    color: #000;
    border-radius: 5px;
    background: linear-gradient(45deg, #4d6ef1, #71ddee, #23ecce);
    background-size: 200%; 
    background-position: left; 
    transition: background-position 0.5s ease; 
    cursor: pointer;
    margin-top: 20px;
}

.banner-main-button button p {
    margin-left: 6px;
}

.banner-main-button button:hover {
    background-position: right;
}

/* O QUE É CAPACITA */

.o-que-e-capacita {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #000;
}

.o-que-e-capacita-int {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    max-width: 1320px;
}

.o-que-e-capacita-card-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    padding: 40px;
    border: 1px solid #4d6ef1; 
    animation: borderAnimation 2s infinite; 
    border-radius: 16px;
    height: 400px;
}

.o-que-e-capacita-card-left h2 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}

.o-que-e-capacita-card-left p {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

.o-que-e-capacita-card-right {
    display: flex;
    align-items: center;
    padding: 40px;
    width: 40%;
    height: 400px;
    background: linear-gradient(45deg, #4d6ef1, #71ddee, #23ecce);
    border-radius: 16px;
    animation: cardAnimation 2s infinite; 
}

@keyframes cardAnimation {
    0% {
       border: 2px solid #4d6ef1;

    }
    50% {
        border: 2px solid #71ddee;
    }
    100% {
        border: 2px solid #23ecce;
    }
}

/* TRILHA DE OFERTA */

.trilha-de-oferta {
    background-image: url('../img/banner-trilha.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.trilha-de-oferta-int {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trilha-de-oferta-title {
    font-size: 70px;
    font-weight: 800;
    color: #23ecce;
}

.trilha-de-oferta-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 1320px;
}

.trilha-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 450px;
    border: 5px solid #4d6ef1; 
    border-radius: 12px;
    margin-top: 40px;
    padding: 0 20px;
    background: linear-gradient(45deg, #4d6ef1, #71ddee, #23ecce);
    background-size: 200%; 
    background-position: left; 
    transition: background-position 0.5s ease;
    transition: all 1s ease-in;
}

.trilha-card:hover {
    background-position: right;
    transform: translatey(-10px);
    cursor: pointer;
}


.trilha-card h2 {
    color: #000;
    text-align: center;
}

.trilha-card p {
    margin-top: 10px;
    color: #000;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.trilha-card button {
    display: flex; 
    padding: 10px 30px; 
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    background: linear-gradient(45deg, #4d6ef1, #71ddee, #23ecce);
    background-size: 200%; 
    background-position: left; 
    transition: background-position 0.5s ease; 
    cursor: pointer;
    margin-top: 40px;
}